.gif-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 2rem;
    ;
}

.text-and-image-content-section {
    display: flex;
    flex-direction: row;
}

.title-section {
    padding: 1.5rem 0 0 2rem;
    font-weight: 200;
}

.subtitle-content {
    font-weight: 500;
    font-size: 1.5rem;
    padding-top: 2rem;
}